# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.apk

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Debug
*.json

# Go-winres directory
winres/

# Build 
*.bat
fyne_metadata_init.go
*.keystore
*.crt